<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Lista de Acudientes</h3>
        {{#if acudientes}}
            <table class="table text-center">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" class="col-4">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Profecion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each acudientes}}
                        <tr>
                            <td>{{nombre_a}}</td>
                            <td>{{apellido_a}}</td>
                            <td>{{edad_a}}</td>
                            <td>{{descripcion}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="/editacudiente/{{id_a}}" class="btn btn-warning p-2">
                                    <i class="fa-solid fa-pencil"></i></a>
                                    <a href="/deleteacudiente/{{id_a}}" class="btn btn-danger p-2">
                                    <i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="11">REGISTRO DE PERSONAS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
            <div class="card text-center mx-auto" style="width: 350px">
                <div class="card-header">
                    <h3>Debes crear un acudiente</h3>
                </div>
                <div class="card-body">
                    <p>Presiona este boton para que puedas registra a una persona en la aplicacion</p>
                    <a href="/acudiente" class="btn btn-primary">Ir a crear</a>
                </div>
        {{/if}}
    </div>
</div>